<div style="text-align: center; background-color: cornflowerblue;font-family: 'Otomanopee One', sans-serif;">

    <div class="pragmatic_header_logo">
        <h1>JuBee</h1>
    </div>
    <div style=" margin-bottom: 2rem;font-family: 'Otomanopee One', sans-serif;">

        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
            Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign Up
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">
            logout
            </a>

        </span>
        {% endif %}
    </div>

</div>